* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #101010;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

button {
    color: #FFFFFF;
    border: none;
    background: none;
    font-size: xx-large;
}

h1 {
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 6px;
    width: 100%;
}

/* ---------- HEADER ---------- */

header {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 50px;
}

/* ---------- SECTION ---------- */

section {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

article {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 500px;
    width: 600px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 60%;
}

button:hover {
    color: #FF5757;
    text-decoration: underline;
}

button:active{
    scale: 0.9;
}

article img {
    height: 60%;
    transition: 150ms;
}

article img:hover {
    scale: 1.1;
    rotate: 10deg;
    transition: 150ms;
}

article img:active {
    scale: 1;
    transition: 10ms;
}

/* ---------- FOOTER ---------- */

footer {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 50px;
}

.copy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 80px;
    border: 1px solid #FFFFFF;
}

#icon {
    font-size: x-large;
}

/* ---------- FENETRE ---------- */

#fenetre-biography {
    text-align: justify;
    max-width: 400px;
    max-height: 700px;
}

#fenetre-contact {
    max-width: 250px;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: transparent;
    pointer-events: none; /* laisse les clics passer derrière */
    inset: 0;
}

.modal-content {
    position: absolute;
    pointer-events: auto; /* mais garde les clics actifs sur la boîte */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #2c2c2c;
}

.modal-header {
    background-color: #2c2c2c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    height: fit-content;
    cursor: move;
    padding: 8px 16px;
    position: relative;
}

.fermer {
    color: white;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease;
}

.fermer:hover {
    color: #858585;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin: 0;
    color: #646464;
    background: #000000;
    font-size: 14px;
    max-height: 600px; 
    min-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* fenêtre content */

.content img {
    width: 100%;
}

.description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    width: 100%;
    margin-bottom: 20px;
}

#last {
    margin-bottom: 0;
}

/* fenêtre projects */

#V {
    color: #69ff2d;
}

#R {
    color: #ff2d2d;
}

/* fenêtre contact */

#fenetre-contact img {
    margin-bottom: 20px;
}

.contact {
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

.lien {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    width: 100%;
}

.lien a {
    color: #646464;
    font-size: xx-large;
}

.lien a:hover {
    color: #ffffff;
    scale: 1.15;
}

.lien a:active {
    scale: 0.9;
}

/* fenêtre collection */

#fenetre-collection .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#fenetre-collection img {
    width: 88px;
    height: 31px;
    margin-bottom: 8px;
}

@media (max-width: 500px) {
    .modal-content {
        width: 95%;
}
}